<p>forgot-password-page works!</p>
<div class="resetPassword-page-wrapper">
  <div class="resetPassword-container">
    <h2 class="resetPassword-title">Forgot Password</h2>

    <div class="resetPassword-instructions">
      Please enter the email address associated with your account.
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()" class="resetPassword-form">
      <div class="form-group">
        <label for="email" requiredLabel >Email</label>
        <input 
          id="email" 
          type="email" 
          #email 
          formControlName="email" 
          placeholder="you@example.com" />
        <div *ngIf="resetPasswordForm.get('email')?.touched && resetPasswordForm.get('email')?.hasError('required')" class="error-message">
          Email is required.
        </div>
        <div *ngIf="resetPasswordForm.get('email')?.touched && resetPasswordForm.get('email')?.hasError('email')" class="error-message">
          Please enter a valid email address.
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="cta-button">Reset the password</button>
        <div *ngIf="errorMessage" class="mismatch-error">
          {{ errorMessage }}
        </div>
      </div>

      <p class="register-link">
        Don't have an account?
        <a [routerLink]="authRoutes.register.url">Create One</a>
      </p>
    </form>
  </div>
</div>
