.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 60px;
  z-index: 100;

  @media (max-width: 768px) {
    width: 40px;
    top: 10px;
    left: 10px;
  }
}

:host {
  display: block;
  background-color: #E5E5E5;
  min-height: 100vh;
}

